{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "#components": "./src/components",
        "#config": "./src/config",
        "#constants": "./src/constants",
        "#pages": "./src/pages",
        "#utils": "./src/utils"
      }
    }]
  ]
}
