{
  "plugins": [
    ["module-resolver", {
      "root": "./src",
      "alias": {
        "#components": "./src/components",
        "#config": "./src/config",
        "#pages": "./src/pages",
        "#utils": "./src/utils"
      }
    }]
  ]
}
