import { makeStyles } from '@material-ui/core';

const useStyles = makeStyles((theme) => ({
  root: {
    backgroundColor: theme.palette.background.default,
  },
}));

const {{{ component }}}: React.FC = () => {
  const classes = useStyles();
  return <div className={classes.root}>{{{ component }}}</div>;
};

export default {{{ component }}};
